<html ng-app>
<script src='angular.min.js'></script>
<script src='application.js'></script>
<meta charset='utf8'>
<link rel='stylesheet' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css'>
<style>
  label{
    width: 160px;
    margin-left: 10px;
  }
  .results span{
    font-weight: bold;
  }
</style>
<div class='container' ng-controller='GeneCtrl'>
<p>Калькулятор окрасов</p>
<p>китайского расписного перпела, coturnics chinensis,</p>
<p>button quail, king quail, chinese paint quail.</p>
<table>
  <tr>
      <td width='400px'>
        <h3>Самец</h3>
        <div  ng-repeat='v in genes'>
          <label>
            <span>{{gene_name[v]}}<sup>({{v}})</sup></span>:
          </label>
            <select ng-model='male[v]'>
              <option ng-repeat="(k, tv) in gene_variants[v]" value="{{k}}">{{tv}}</option>
            </select>
        </div>
      </td>
      <td>
        <h3>Самка</h3>
        <div  ng-repeat='v in genes'>
          <label>
            <span>{{gene_name[v]}}<sup>({{v}})</sup></span>:
          </label>
            <select ng-model='female[v]'>
              <option ng-repeat="(k, tv) in gene_variants[v]" value="{{k}}">{{tv}}</option>
            </select>
        </div>
      </td>
    </tr>
  </table>
  <hr>
  <div>Самец: </div>
  <div ng-bind-html-unsafe="describe_genome(gene_to_string(male))"></div>
  <hr>
  <div>Самка: </div>
  <div ng-bind-html-unsafe="describe_genome(gene_to_string(female))"></div>
  <hr>
  <button ng-click='calculate()'>Расчитать результаты</button>
  <hr>
  <table class='table'>
    <tr ng-repeat="(k, v) in by_name">
      <td>
        <span ng-bind-html-unsafe="k"></span>
      </td>
      <td><b>{{v}}%</b></td>
    </tr>
  </table>
</div>
</html>
