<html ng-app>
<script src='angular.min.js'></script>
<meta charset='utf8'>
<link rel='stylesheet' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css'>
<style>
  label{
    width: 160px;
    margin-left: 10px;
  }
  .results span{
    font-weight: bold;
  }
</style>
<div class='container' ng-controller='GeneCtrl'>
<p>Приносим извинения, калькулятор в результатах</p>
<p>не выводит вероятность "синеголовый двухфакторный",</p>
<p>мы постараемся исправить эту ошибку.</p>
<table>
  <tr>
      <td width='400px'>
        <h3>Самец</h3>
        <div  ng-repeat='v in genes'>
          <label>
            <span>{{gene_name[v]}}<sup>({{v}})</sup></span>:
          </label>
            <select ng-model='male[v]'>
              <option ng-repeat="(k, tv) in gene_variants[v]" value="{{k}}">{{tv}}</option>
            </select>                    
        </div>
      </td>
      <td>
        <h3>Самка</h3>
        <div  ng-repeat='v in genes'>
          <label>
            <span>{{gene_name[v]}}<sup>({{v}})</sup></span>:
          </label>
            <select ng-model='female[v]'>
              <option ng-repeat="(k, tv) in gene_variants[v]" value="{{k}}">{{tv}}</option>
            </select>                    
        </div>
      </td>            
    </tr>
  </table>
  <hr>
  <div>Самец: </div>
  <div ng-bind-html-unsafe="describe_genome(gene_to_string(male))"></div>
  <hr>
  <div>Самка: </div>
  <div ng-bind-html-unsafe="describe_genome(gene_to_string(female))"></div>
  <hr>
  <button ng-click='calculate()'>Расчитать результаты</button>
  <hr>
  <table class='table'>
    <tr ng-repeat="(k, v) in by_name">
      <td>
        <span ng-bind-html-unsafe="k"></span> 
      </td>
      <td><b>{{v}}%</b></td>
    </tr>
  </table>
</div>
<script>
  function Dog(){
    var r = {}
    var list = ['b', 'p', 'pd', 's', 'c', 't', 'w', 'r'] 
    for(i in list){
      r[list[i]] = '0'
    }
    return r
  }
  function cart_to_name(a){
    var ret = []
    for(var i = 0; i<=15; i+=2){
      if(a[i + 1].toUpperCase() == a[i + 1])
        ret.push(a[i+1]+a[i])
      else
        ret.push(a[i]+a[i+1])
    }
    return ret.join('-');
  }
  function clone(obj){
    return JSON.parse(JSON.stringify(obj))
  }

  function cartesian() {
      var r = [], arg = arguments, max = arg.length-1;
      function helper(arr, i) {
          for (var j=0, l=arg[i].length; j<l; j++) {
              var a = arr.slice(0); // clone arr
              a.push(arg[i][j])
              if (i==max) {
                  r.push(a);
              } else
                  helper(a, i+1);
          }
      }
      helper([], 0);
      return r;
  };
  function GeneCtrl($scope){
    $scope.by_name = {}
    $scope.male = {}
    $scope.female = {}
    $scope.genes = ['b', 'p', 'pd', 's', 'c', 't', 'w', 'r']
    $scope.gene_name = {
      s:  'серебристый',
      c:  'осветленный',
      w:  'белый',
      b:  'синеголовый',
      p:  'золотой жемчуг',
      r:  'красногрудый',
      pd:  'пестрый',
      t: 'смокинг'}
    $scope.gene_variants = {
      b: { 0: 'нет', 1: 'есть', 2: 'двухфакторный' },
      pd: { 0: 'нет', 1: 'есть', 2: 'двухфакторный' },
      p: { 0: 'нет', 1: 'есть' },
      
      s: { 0: 'нет', 1: 'носитель', 2: 'есть' },
      c: { 0: 'нет', 1: 'носитель', 2: 'есть' },
      w: { 0: 'нет', 1: 'носитель', 2: 'есть' },
      r: { 0: 'нет', 1: 'носитель', 2: 'есть' },
      t: { 0: 'нет', 1: 'носитель', 2: 'есть' }
    }


    $scope.describe_genome = function(k){
      var ret = []
      var nos = []
      if(k.indexOf("PP") != -1)
        ret.push('<span style="color:red">летальные гены</span>')
      if(k.indexOf("WW") != -1)
        ret.push('<span style="background: black; color:white; padding: 2px 5px; font-weight:bold">Белый цвет завуалирует все остальные окрасы</span>')
      
      for(var i in $scope.recessive){
        var gene = $scope.recessive[i]
        if(k.indexOf(gene.toUpperCase() + gene.toUpperCase()) != -1)
          ret.push($scope.gene_name[gene]);
        if(k.indexOf(gene.toUpperCase() + gene) != -1)
          nos.push($scope.gene_name[gene]);
      }
      for(var i in $scope.dominant){
        var gene = $scope.dominant[i]
        if(k.indexOf(gene.toUpperCase() + gene.toUpperCase()) != -1)
          ret.push($scope.gene_name[gene]);
        if(k.indexOf(gene.toUpperCase() + gene) != -1)
          ret.push($scope.gene_name[gene]);
      }
      if(ret.length == 0)
        ret = 'Природный'
      else
        ret = ret.join(', ')
      if(nos.length > 0)
        ret += ('<br><b>Носитель:</b> ' + nos.join(', '))
      return ret
    }
    $scope.dominant = ['b', 'p', 'pd']
    $scope.recessive =  ['s', 'c', 't', 'w', 'r']
    $scope.results = []
    $scope.by_combo = []
    $scope.calculate = function(){
      var results = []
      var male = $scope.male
      var female = $scope.female

      var data = [];
      for(var ig in $scope.genes){
        var gene = $scope.genes[ig]
        if(male[gene] == '0')
          data.push([gene, gene])
        if(male[gene] == '1')
          data.push([gene.toUpperCase(), gene])
        if(male[gene] == '2')
          data.push([gene.toUpperCase(), gene.toUpperCase()])
        
        if(female[gene] == '0')
          data.push([gene, gene])
        if(female[gene] == '1')
          data.push([gene.toUpperCase(), gene])
        if(female[gene] == '2')
          data.push([gene.toUpperCase(), gene.toUpperCase()])
      }

      var all = cartesian.apply(this, data);
      var by_name = {}
      for(var iall in all){
        var key = all[iall].join("")
        if(by_name[key]){
          by_name[key].count++
        }else{
          by_name[key] = {name: cart_to_name(all[iall]), count: 1}
        }
      }

      var by_name_grouped = {}
      for(var i in by_name){
        var group = $scope.describe_genome(by_name[i].name)
        if(by_name_grouped[group]){
          by_name_grouped[group] += (by_name[i].count / 65536 * 100)
        }else{
          by_name_grouped[group] = (by_name[i].count / 65536 * 100)
        }
      }
      $scope.by_name = by_name_grouped
      $scope.results = all
      $scope.$broadcast('results')
      $scope.$broadcast('by_name')
    }
    for(var i in $scope.genes){
      $scope.male = new Dog
      $scope.female = new Dog
    }
    
    $scope.gene_to_string = function(obj){
      var ret = []
      for(var k in obj){
        if(k != '$$hashKey'){
          var v = parseInt(obj[k])
          var t = ''
          if(v == 0)
            t = k + k
          if(v == 1)
            t = k.toUpperCase() + k
          if(v == 2)
            t =  k.toUpperCase() + k.toUpperCase()
          ret.push(t)
        }
      }
      return ret.join('-')
    }
  }
</script>
</html>
